.top {
  margin-top: 6vw;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrapper button {
  border: none;
}

.buttonImg {
  width: 1.5vw;
}

.title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2vw;
  margin-bottom: 2vw;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}