@import url('https://fonts.googleapis.com/css?family=Assistant|Roboto+Condensed&display=swap');

.top {
  margin-top: 6vw;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 7vw;
}

.buttonArrow {
  border: none;
  font-size: 2vw;
}

.title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2vw;
  margin-bottom: -.9vw;
}

.caption {
  font-family: 'Assistant', sans-serif;
  font-size: 1.2vw;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}