@import url('https://fonts.googleapis.com/css?family=Assistant|Roboto+Condensed&display=swap');

.techStack {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}
