.techStack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: purple;
}

.card {
  width: 9vw;
  height: 29vh;
}

.list {
  list-style: none;
  margin-left: -2.7vw;
  margin-top: -1vw;
}