.sidebar {
  background: #afeeee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  box-shadow: 5px 5px 2px 1px rgb(231, 231, 231);
  z-index: 100;
  position: sticky;
  top: 0;
  
  @media (min-width: 1024px) {
    width: 28vw;
    height: 100vh;
    flex-direction: column;
    position: fixed;
  }
}
