@import url('https://fonts.googleapis.com/css?family=Assistant|Roboto+Condensed&display=swap');

.title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2vw;
  text-align: center;
  margin-bottom: 2vw;
}

.textBody {
  font-family: 'Assistant', sans-serif;
  font-size: 1.5vw;
}