@import url('https://fonts.googleapis.com/css?family=Assistant|Roboto+Condensed&display=swap');

.title {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 4vw;
  margin-bottom: 2vw;

  @media (min-width: 1024px) {
    font-size: 2vw;
  }
}