@import url('https://fonts.googleapis.com/css?family=Assistant|Roboto+Condensed&display=swap');

.title {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 2vw;
  margin-bottom: 4vw;
}